.accessable{
    background-color: var(--fieldAccessable);
}

.lightField{
    background-color: var(--light);
}

.darkField{
    background-color: var(--dark);
}

div{
    height: 75px;
    width: 75px;
    
    font-size: 45px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}