.lightField{
    background-color: var(--lightField);
}

.darkField{
    background-color: var(--darkField);
}

.selectedField{
    text-shadow:0px 0px 15px var(--lighter);
    box-shadow: inset 0px 0px 5px 3px var(--lighter);
}

.accessable{
    box-shadow: inset 0em 0em 0.2em 0.1em rgb(255, 153, 0)
}

.preselectedField{
    text-shadow:0px 0px 15px black;
    box-shadow: inset 0px 0px 5px 3px black;
}

div {
    height: 100%;
    width: 100%;
    font-size: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    div {
        font-size: x-large;
    }
}