.accessable{
    background-color: var(--fieldAccessable);
}

.lightField{
    background-color: var(--light);
}

.darkField{
    background-color: var(--dark);
}

div{
    height: 100%;
    width: 100%;
    
    font-size: 3vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}