.accessable{
    background-color: var(--fieldAccessable);
}

.lightField{
    background-color: var(--light);
}

@keyframes darkFieldAnimation {
    0%  {background-color: yellow;}
    10% {background-color: black;}
    20% {background-color: aquamarine;}
    30% {background-color: blue;}
    40% {background-color: beige;}
    50% {background-color: blueviolet;}
    60% {background-color: brown;}
    70% {background-color: chartreuse;}
    80% {background-color: chocolate;}
    90% {background-color: cornflowerblue;}
    100%{background-color: aqua;}
}

.darkField{
    background-color: var(--dark);
    animation-name: darkFieldAnimation;
    animation-duration: var(--animationtime);
    animation-iteration-count: infinite;
}

div{
    height: 75px;
    width: 75px;
    
    font-size: 45px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}