.accessable{
    background-color: var(--fieldAccessable);
}

.lightField{
    background-color: var(--light);
}

.darkField{
    background-color: var(--dark);
}

.selectedField{
    text-shadow:0px 0px 15px var(--lighter);
    box-shadow: inset 0px 0px 5px 3px var(--lighter)
}

td {
    width: 10%;
    height: 10%;
}

div {
    height: 100%;
    width: 100%;
    font-size: xx-large;

    display: flex;
    justify-content: center;
    align-items: center;
}