<div id="divBackground" [ngClass]="this.themes[0]">

  <div style="width: 100%; height: 100%; position: absolute; pointer-events: none;">
    <svg id="backgroundSVG" xmlns="http://www.w3.org/2000/svg">
      <rect width="100%" height="100%" style="fill: lightgrey" />
      
      <pattern id="patt2" x="0" y="0" width="30" height="17.32" patternUnits="userSpaceOnUse">
        <polygon points="0,9.16 5,0.5 15,0.5 20,9.16 15,17.82 5,17.82" style="fill:lightgrey;stroke:darkgrey;stroke-width:1" />
        <line x1="20" y1="9.16" x2="30" y2="9.16" style="stroke:darkgrey;stroke-width:1"/>
      </pattern>
      
      <rect width="100%" height="100%" x="0" y="0" fill="url(#patt2)" />
    </svg>
  </div>
  
  <div id="divTitle">
    Chess Client NG
  </div>

  <div class="flexContainer">

    <div class="divPlayer" [ngClass]="{activePlayer : this.positioner.activePlayer.name == this.positioner.player0.name}">
      <p>{{this.positioner.player0.name}}</p>
      <p>time: x min y sec</p>
    </div>

    <div id="divBoardContainer">
      <div id="divBoard">
        <app-board [gameId]="this.gameId"></app-board>
      </div>
    </div>

    <div class="divPlayer" [ngClass]="{activePlayer : this.positioner.activePlayer.name == this.positioner.player1.name}">
      <p>{{this.positioner.player1.name}}</p>
      <p>time: x min y sec</p>
    </div>

  </div>

  <div id="divCtrl" [ngClass]="this.themes[themeIndex]">
    <!-- <div class="ctrlItem qrCode">
      <img src="./chessLxRolandConnection.png" width="80px" height="80px" alt="alternatetext">
    </div> -->
    <div class="ctrlItem">
      <!-- <button class="btnControl" id="btnStart" (click)="connect()">&#10148;</button> -->
      <button class="btnControl" id="resetGame" (click)="resetGame()">Reset Game</button>
      <!-- <button class="btnControl" (click)="switchTheme()">Theme</button> -->
      <button class="btnControl" (click)="returnHome()">Home</button>
    </div>
  </div>
</div>