<div id="divBackground" [ngClass]="this.themes[themeIndex]">
  
  <div id="divTitle">
    <h2>Chess Client NG</h2>
  </div>

  <div class="flexContainer">

    <div id="divPlayer" [ngClass]="{activePlayer : this.positioner.activePlayer.name == this.positioner.player0.name}">
      <p>{{this.positioner.player0.name}}</p>
      <p>time: x min y sec</p>
    </div>

    <div id="divBoardContainer">
      <div id="divBoard">
        <app-board></app-board>
      </div>
    </div>

    <div id="divPlayer" [ngClass]="{activePlayer : this.positioner.activePlayer.name == this.positioner.player1.name}">
      <p>{{this.positioner.player1.name}}</p>
      <p>time: x min y sec</p>
    </div>

  </div>

  <div id="divCtrl" [ngClass]="this.themes[themeIndex]">
    <button class="btnControl" id="btnStart" (click)="connect()">&#10148;</button>
    <button class="btnControl" id="resetGame" (click)="resetGame()">Reset Game</button>
    <button class="btnControl" (click)="switchTheme()">Theme</button>
  </div>
</div>