div{
    background-color: var(--background);
}

#divBackground {
    height: 100lvh;
    background-color: var(--background);
}

#divTitle{
    padding: 10px;
}

#divControls{
    padding: 10px;
}

#divMain{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 2%;
}

button{
    margin: 5px;
}