<div class="background square">
    <table (click)="clickField($event)">
        <tr>
            <th></th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>F</th>
            <th>G</th>
            <th>H</th>
        </tr>
        <tr>
            <th>8</th>
            <td>
                <app-field id="A8" [code]="this.positioner.fields[0][7].figure.code" [fieldInfo]="this.positioner.fields[0][7]"></app-field>
            </td>
            <td>
                <app-field id="B8" [code]="this.positioner.fields[1][7].figure.code" [fieldInfo]="this.positioner.fields[1][7]"></app-field>
            </td>
            <td>
                <app-field id="C8" [code]="this.positioner.fields[2][7].figure.code" [fieldInfo]="this.positioner.fields[2][7]"></app-field>
            </td>
            <td>
                <app-field id="D8" [code]="this.positioner.fields[3][7].figure.code" [fieldInfo]="this.positioner.fields[3][7]"></app-field>
            </td>
            <td>
                <app-field id="E8" [code]="this.positioner.fields[4][7].figure.code" [fieldInfo]="this.positioner.fields[4][7]"></app-field>
            </td>
            <td>
                <app-field id="F8" [code]="this.positioner.fields[5][7].figure.code" [fieldInfo]="this.positioner.fields[5][7]"></app-field>
            </td>
            <td>
                <app-field id="G8" [code]="this.positioner.fields[6][7].figure.code" [fieldInfo]="this.positioner.fields[6][7]"></app-field>
            </td>
            <td>
                <app-field id="H8" [code]="this.positioner.fields[7][7].figure.code" [fieldInfo]="this.positioner.fields[7][7]"></app-field>
            </td>
            <th>8</th>
        </tr>
        <tr>
            <th class="static">7</th>
            <td>
                <app-field id="A7" [code]="this.positioner.fields[0][6].figure.code" [fieldInfo]="this.positioner.fields[0][6]"></app-field>
            </td>
            <td>
                <app-field id="B7" [code]="this.positioner.fields[1][6].figure.code" [fieldInfo]="this.positioner.fields[1][6]"></app-field>
            </td>
            <td>
                <app-field id="C7" [code]="this.positioner.fields[2][6].figure.code" [fieldInfo]="this.positioner.fields[2][6]"></app-field>
            </td>
            <td>
                <app-field id="D7" [code]="this.positioner.fields[3][6].figure.code" [fieldInfo]="this.positioner.fields[3][6]"></app-field>
            </td>
            <td>
                <app-field id="E7" [code]="this.positioner.fields[4][6].figure.code" [fieldInfo]="this.positioner.fields[4][6]"></app-field>
            </td>
            <td>
                <app-field id="F7" [code]="this.positioner.fields[5][6].figure.code" [fieldInfo]="this.positioner.fields[5][6]"></app-field>
            </td>
            <td>
                <app-field id="G7" [code]="this.positioner.fields[6][6].figure.code" [fieldInfo]="this.positioner.fields[6][6]"></app-field>
            </td>
            <td>
                <app-field id="H7" [code]="this.positioner.fields[7][6].figure.code" [fieldInfo]="this.positioner.fields[7][6]"></app-field>
            </td>
            <th>7</th>
        </tr>
        <tr>
            <th class="static">6</th>
            <td>
                <app-field id="A6" [code]="this.positioner.fields[0][5].figure.code" [fieldInfo]="this.positioner.fields[0][5]"></app-field>
            </td>
            <td>
                <app-field id="B6" [code]="this.positioner.fields[1][5].figure.code" [fieldInfo]="this.positioner.fields[1][5]"></app-field>
            </td>
            <td>
                <app-field id="C6" [code]="this.positioner.fields[2][5].figure.code" [fieldInfo]="this.positioner.fields[2][5]"></app-field>
            </td>
            <td>
                <app-field id="D6" [code]="this.positioner.fields[3][5].figure.code" [fieldInfo]="this.positioner.fields[3][5]"></app-field>
            </td>
            <td>
                <app-field id="E6" [code]="this.positioner.fields[4][5].figure.code" [fieldInfo]="this.positioner.fields[4][5]"></app-field>
            </td>
            <td>
                <app-field id="F6" [code]="this.positioner.fields[5][5].figure.code" [fieldInfo]="this.positioner.fields[5][5]"></app-field>
            </td>
            <td>
                <app-field id="G6" [code]="this.positioner.fields[6][5].figure.code" [fieldInfo]="this.positioner.fields[6][5]"></app-field>
            </td>
            <td>
                <app-field id="H6" [code]="this.positioner.fields[7][5].figure.code" [fieldInfo]="this.positioner.fields[7][5]"></app-field>
            </td>
            <th>6</th>
        </tr>
        <tr>
            <th class="static">5</th>
            <td>
                <app-field id="A5" [code]="this.positioner.fields[0][4].figure.code" [fieldInfo]="this.positioner.fields[0][4]"></app-field>
            </td>
            <td>
                <app-field id="B5" [code]="this.positioner.fields[1][4].figure.code" [fieldInfo]="this.positioner.fields[1][4]"></app-field>
            </td>
            <td>
                <app-field id="C5" [code]="this.positioner.fields[2][4].figure.code" [fieldInfo]="this.positioner.fields[2][4]"></app-field>
            </td>
            <td>
                <app-field id="D5" [code]="this.positioner.fields[3][4].figure.code" [fieldInfo]="this.positioner.fields[3][4]"></app-field>
            </td>
            <td>
                <app-field id="E5" [code]="this.positioner.fields[4][4].figure.code" [fieldInfo]="this.positioner.fields[4][4]"></app-field>
            </td>
            <td>
                <app-field id="F5" [code]="this.positioner.fields[5][4].figure.code" [fieldInfo]="this.positioner.fields[5][4]"></app-field>
            </td>
            <td>
                <app-field id="G5" [code]="this.positioner.fields[6][4].figure.code" [fieldInfo]="this.positioner.fields[6][4]"></app-field>
            </td>
            <td>
                <app-field id="H5" [code]="this.positioner.fields[7][4].figure.code" [fieldInfo]="this.positioner.fields[7][4]"></app-field>
            </td>
            <th>5</th>
        </tr>
        <tr>
            <th class="static">4</th>
            <td>
                <app-field id="A4" [code]="this.positioner.fields[0][3].figure.code" [fieldInfo]="this.positioner.fields[0][3]"></app-field>
            </td>
            <td>
                <app-field id="B4" [code]="this.positioner.fields[1][3].figure.code" [fieldInfo]="this.positioner.fields[1][3]"></app-field>
            </td>
            <td>
                <app-field id="C4" [code]="this.positioner.fields[2][3].figure.code" [fieldInfo]="this.positioner.fields[2][3]"></app-field>
            </td>
            <td>
                <app-field id="D4" [code]="this.positioner.fields[3][3].figure.code" [fieldInfo]="this.positioner.fields[3][3]"></app-field>
            </td>
            <td>
                <app-field id="E4" [code]="this.positioner.fields[4][3].figure.code" [fieldInfo]="this.positioner.fields[4][3]"></app-field>
            </td>
            <td>
                <app-field id="F4" [code]="this.positioner.fields[5][3].figure.code" [fieldInfo]="this.positioner.fields[5][3]"></app-field>
            </td>
            <td>
                <app-field id="G4" [code]="this.positioner.fields[6][3].figure.code" [fieldInfo]="this.positioner.fields[6][3]"></app-field>
            </td>
            <td>
                <app-field id="H4" [code]="this.positioner.fields[7][3].figure.code" [fieldInfo]="this.positioner.fields[7][3]"></app-field>
            </td>
            <th>4</th>
        </tr>
        <tr>
            <th class="static">3</th>
            <td>
                <app-field id="A3" [code]="this.positioner.fields[0][2].figure.code" [fieldInfo]="this.positioner.fields[0][2]"></app-field>
            </td>
            <td>
                <app-field id="B3" [code]="this.positioner.fields[1][2].figure.code" [fieldInfo]="this.positioner.fields[1][2]"></app-field>
            </td>
            <td>
                <app-field id="C3" [code]="this.positioner.fields[2][2].figure.code" [fieldInfo]="this.positioner.fields[2][2]"></app-field>
            </td>
            <td>
                <app-field id="D3" [code]="this.positioner.fields[3][2].figure.code" [fieldInfo]="this.positioner.fields[3][2]"></app-field>
            </td>
            <td>
                <app-field id="E3" [code]="this.positioner.fields[4][2].figure.code" [fieldInfo]="this.positioner.fields[4][2]"></app-field>
            </td>
            <td>
                <app-field id="F3" [code]="this.positioner.fields[5][2].figure.code" [fieldInfo]="this.positioner.fields[5][2]"></app-field>
            </td>
            <td>
                <app-field id="G3" [code]="this.positioner.fields[6][2].figure.code" [fieldInfo]="this.positioner.fields[6][2]"></app-field>
            </td>
            <td>
                <app-field id="H3" [code]="this.positioner.fields[7][2].figure.code" [fieldInfo]="this.positioner.fields[7][2]"></app-field>
            </td>
            <th>3</th>
        <tr>
            <th class="static">2</th>
            <td>
                <app-field id="A2" [code]="this.positioner.fields[0][1].figure.code" [fieldInfo]="this.positioner.fields[0][1]"></app-field>
            </td>
            <td>
                <app-field id="B2" [code]="this.positioner.fields[1][1].figure.code" [fieldInfo]="this.positioner.fields[1][1]"></app-field>
            </td>
            <td>
                <app-field id="C2" [code]="this.positioner.fields[2][1].figure.code" [fieldInfo]="this.positioner.fields[2][1]"></app-field>
            </td>
            <td>
                <app-field id="D2" [code]="this.positioner.fields[3][1].figure.code" [fieldInfo]="this.positioner.fields[3][1]"></app-field>
            </td>
            <td>
                <app-field id="E2" [code]="this.positioner.fields[4][1].figure.code" [fieldInfo]="this.positioner.fields[4][1]"></app-field>
            </td>
            <td>
                <app-field id="F2" [code]="this.positioner.fields[5][1].figure.code" [fieldInfo]="this.positioner.fields[5][1]"></app-field>
            </td>
            <td>
                <app-field id="G2" [code]="this.positioner.fields[6][1].figure.code" [fieldInfo]="this.positioner.fields[6][1]"></app-field>
            </td>
            <td>
                <app-field id="H2" [code]="this.positioner.fields[7][1].figure.code" [fieldInfo]="this.positioner.fields[7][1]"></app-field>
            </td>
            <th>2</th>
        </tr>
        <tr>
            <th class="static">1</th>
            <td>
                <app-field id="A1" [code]="this.positioner.fields[0][0].figure.code" [fieldInfo]="this.positioner.fields[0][0]"></app-field>
            </td>
            <td>
                <app-field id="B1" [code]="this.positioner.fields[1][0].figure.code" [fieldInfo]="this.positioner.fields[1][0]"></app-field>
            </td>
            <td>
                <app-field id="C1" [code]="this.positioner.fields[2][0].figure.code" [fieldInfo]="this.positioner.fields[2][0]"></app-field>
            </td>
            <td>
                <app-field id="D1" [code]="this.positioner.fields[3][0].figure.code" [fieldInfo]="this.positioner.fields[3][0]"></app-field>
            </td>
            <td>
                <app-field id="E1" [code]="this.positioner.fields[4][0].figure.code" [fieldInfo]="this.positioner.fields[4][0]"></app-field>
            </td>
            <td>
                <app-field id="F1" [code]="this.positioner.fields[5][0].figure.code" [fieldInfo]="this.positioner.fields[5][0]"></app-field>
            </td>
            <td>
                <app-field id="G1" [code]="this.positioner.fields[6][0].figure.code" [fieldInfo]="this.positioner.fields[6][0]"></app-field>
            </td>
            <td>
                <app-field id="H1" [code]="this.positioner.fields[7][0].figure.code" [fieldInfo]="this.positioner.fields[7][0]"></app-field>
            </td>
            <th>1</th>
        </tr>
        <tr>
            <th></th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>F</th>
            <th>G</th>
            <th>H</th>
        </tr>
      </table>
</div>
