@keyframes backgroundAnimation {
    0%  {background-color: #3227a7; box-shadow: 0 0 20px 6px #3227a7;}
    30% {background-color: #3227a7; box-shadow: 0 0 20px 6px #3227a7;}
    50% {background-color: #fdeb27;box-shadow: 0 0 20px 6px #fdeb27;}
    80% {background-color: #fdeb27;box-shadow: 0 0 20px 6px #fdeb27;}
    100% {background-color: #3227a7; box-shadow: 0 0 20px 6px #3227a7;}
}

.background{
    background-color: var(--lighter);
    animation-name: backgroundAnimation;
    animation-duration: var(--animationtime);
    animation-iteration-count: infinite;
}

#table_board{
    border-spacing: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
}

th {
    cursor: pointer;
}

td {
    width: 11%;
    height: 11%;
    cursor: pointer;
}

.square{
    width: 100%;
    height: 100%;
}