/* You can add global styles to this file, and also import other style files */

html, body{
    margin: 0;
}

//Color Themes
.coffee{
    --controlls: yellow;

    --lighter: rgba(255,255,255,0.65);
    --light: #c1823d;
    --dark: #8a461e;
    --darker: #6d5242;

    --background: url(../images/coffee_background.JPG);

    --lightField: #9588aa;
    --darkField: #716987;

    --fieldAccessable: lightgreen;
    --fieldInaccassable: red;
}
.forest{
    --controlls: #f0d497;

    // --lighter: rgba(255,255,255,0.65);
    --lighter: rgba(0, 0, 0, 0.65);
    --light: rgb(158, 221, 168);
    --dark: rgb(87, 182, 150);
    --darker: #6d5242;

    --background: url(../images/forest_background.JPG);

    --lightField: rgb(158, 221, 168);;
    --darkField: rgb(87, 182, 150);

    --fieldAccessable: gold;
    --fieldInaccassable: red;
}
.neon{
    --controlls: #f0d497;

    --lighter: rgb(43, 43, 43);;
    --light: #0aeaf1;
    --dark: #fc15ef;
    --darker: #00109c;

    --background: rgb(66, 66, 66);
    
    --fieldAccessable: gold;
    --fieldInaccassable: red;

    --animationtime: 40s;
}
.ice{
    --controlls: #f0d497;

    --lighter: white;
    --light: wheat;
    --dark: lightgrey;
    --darker: grey;

    --background: bisque;
    
    --fieldAccessable: gold;
    --fieldInaccassable: red;

    --animationtime: 0s;
}
.barbie{
    --controlls: #f0d497;

    --lighter: pink;
    --light: rgb(240, 145, 211);
    --dark: rgb(253, 89, 212);
    --darker: grey;

    --background: rgb(255, 171, 213);
    
    --fieldAccessable: gold;
    --fieldInaccassable: red;

    --animationtime: 0s;
}
.jewel{
    --controlls: #f0d497;

    --lighter: green;
    --light: rgb(255, 255, 77) ;
    --dark:rgb(255, 76, 76);
    --darker: grey;

    --background: rgb(232, 255, 255);
    
    --fieldAccessable: gold;
    --fieldInaccassable: red;

    --animationtime: 0s;
}