<div class="container">
  <header class="head">Web Chess</header>
  
  <div class="content">
    <label id="lblUsername">User Name</label>
    <input type="text" [(ngModel)]="this.username">
  </div>

  <div>
    <button id="btnNewGame" (click)="this.createNewGame()">New Game</button>
  </div>

  <div>
    <label>Open Games</label>
    <ul>
      @for (id of gameIds; track $index) {
        <li class="game" (click)="this.joinGame(id)">{{id}}</li>
      } @empty {
        <li>No Games yet</li>
      }
    </ul>
  </div>
</div>