<div class="container">
  
  <div class="center">
    <svg id="backgroundSVG" xmlns="http://www.w3.org/2000/svg">
      <rect width="100%" height="100%" style="fill: lightgrey" />
      
      <pattern id="patt2" x="0" y="0" width="30" height="17.32" patternUnits="userSpaceOnUse">
        <polygon points="0,9.16 5,0.5 15,0.5 20,9.16 15,17.82 5,17.82" style="fill:lightgrey;stroke:darkgrey;stroke-width:1" />
        <line x1="20" y1="9.16" x2="30" y2="9.16" style="stroke:darkgrey;stroke-width:1"/>
      </pattern>
      
      <rect width="100%" height="100%" x="0" y="0" fill="url(#patt2)" />
    </svg>
  </div>

  <div class="center">
    <h1 class="head">Web Chess</h1>
  </div>

  <div class="center">
    <label class="fontsize" id="lblUsername">User Name</label>
    <input class="fontsize" type="text" [(ngModel)]="this.username">
  </div>

  <div class="center">
    <button class="fontsize" id="btnNewGame" (click)="this.createNewGame()">New Game</button>
  </div>
  
    <div class="center">
    </div>

  <div class="center" style="background-color: rgba(255,255,255,0.5);">
    <label class="fontsize">Open Games</label>
  </div>

  <div class="center">
    <div class="gameList">
      @for (id of gameIds; track $index) {
        <app-game-entry class="game" [gameId]="id" (click)="this.joinGame(id)"></app-game-entry>
      } @empty {
        <li class="fontsize">No Games yet</li>
      }
    </div>
  </div>
</div>